doctype html
html(ng-app='app')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Bolte Construction - Omaha, NE')
    meta(name='author' content='Brian Newton')
    title= 'Bolte Construction'
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='/app/styles/slick.css')

  body

    .container(align='center' style='margin-top: 30px')

      .navbar.navbar-default(role='navigation' bs-navbar)
        .nav.navbar-nav
          li(data-match-route='/home')
            a(href="#/home") Home
          li(data-match-route='/kitchen')
            a(href="#/kitchen") Kitchen
          li(data-match-route='/bathroom')
            a(href="#/bathroom") Bathroom
          li(data-match-route='/lower-level')
            a(href="#/lower-level") Lower Level
          li(data-match-route='/exterior')
            a(href="#/exterior") Exterior
          li(data-match-route='/commercial')
            a(href="#/commercial") Commercial
          li(data-match-route='/testimonials')
            a(href="#/testimonials")  Testimonials
          li(data-match-route='/contact')
            a(href="#/contact") Contact
          li(data-match-route='/about')
            a(href="#/about")  About

      h1(style='display: inline; margin-right: 10px') Bolte Construction
      h2(style='display: inline;'): em Design to Finish
      br
      br

      div(ng-view)

    footer
      .container(align='center')
        hr
        h4!= 'Bolte Construction &bull; Omaha Nebraska &bull; 402-706-0660 &bull; Email &bull; &copy; Bolte Construction 2014'

    script(src='/app/dependencies.js')
    script(src='/app/bolte-construction.js')
